.master-title {
    font-size: 64px;
    position: absolute;
    margin: 70px 131px;
    top: 0;
}

.start-button {
    margin: 405px 243px auto !important;
}

.overlay {
    margin: auto;
    width: 550px;
    height: 400px;
    position: absolute;
    top: 0;
    background-color: #ffffff80;
}

.welcome-image {
    margin-top: 45px;
}