.title {
    margin: auto;
}

.input-name {
    display: block;
    margin: auto;
    width: 200px;
    height: 40px;
    background-size: 255px 70px;
    background-position-x: -13px;
    font-size: 32px;
    font-weight: bold;
}

.continue-button {
    display: block;
    margin: 30px auto auto !important;
}

.m-button {
    background: url("../../img/Button_M.png") no-repeat;
    padding: 15px;
    width: 82px;
    height: 72px;
}

.w-button {
    background: url("../../img/Button_W.png") no-repeat;
    padding: 15px;
    width: 82px;
    height: 72px;
}

.gender-buttons {
    margin: 20px 190px;
}

.error-text {
    color: red;
}