.boxed-button {
    background: none;
    border: none;
    font-family: 'Indie Flower', cursive;
    font-size: 32px;
    cursor: pointer;
}

.boxed-button:focus, .boxed-button:hover {
    outline: none;
    background-color: #e5e5e5;
}

.boxed-button {
    background: url("../../img/Box.svg") no-repeat;
    padding: 15px;
}